.button {
    width: var(--btn-width);
    background-color: var(--btn-main-color);
    padding: var(--btn-inner-padding);

    border: none;
    border-radius: 10px;
    color: inherit;

    border: 1px solid var(--border-blocks-color);

    &:hover {
        background-color: var(--btn-active-color);
    }

    cursor: pointer;

    .content {
        font-size: var(--font-size-normal);
        color: var(--font-main-color);
    }
}
