.container {
    width: calc(var(--board-size) + 2px);

    margin: 0 35px 35px 35px;

    .info {
        display: flex;
        justify-content: space-between;

        padding: 10px;

        font-size: var(--font-size-normal);
        color: var(--font-main-color);
    }
}
