.container {
    width: calc(var(--board-size) + 2px);

    margin: 0 35px 35px 35px;

    .info {
        display: flex;
        align-items: center;

        padding: 10px;

        font-size: var(--font-size-normal);
        color: var(--font-main-color);

        .name_left {
            flex-grow: 1;
        }

        .score_left {
            font-size: var(--font-size-header);
            color: var(--font-main-color);
        }

        .score_right {
            @extend .score_left;
            flex-grow: 1;
        }
    }
}
