.container {
    width: fit-content;
    background-color: #ff0000;
    z-index: 10;
    margin: 5px;
    float: left;

    opacity: 0.4;

    .item {
        width: calc(var(--board-size) / 10);
        height: calc(var(--board-size) / 10);
    }
}

.flex {
    display: flex;
}

.absolute {
    margin: 0;
    float: none;
    position: absolute;
}
