.container {
    width: 100%;
    height: fit-content;

    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        font-size: var(--font-size-header);
        color: var(--font-main-color);
    }
}
