.container {
    position: relative;
    height: 100%;
    width: var(--settings-size);

    display: flex;
    flex-direction: column;
    align-items: center;

    .buttons {
        position: absolute;
        top: 35%;
        transform: translateY(-35%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info {
        width: 100%;

        font-size: var(--font-size-header);
        color: var(--font-main-color);

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
