body {
    position: relative;

    --board-size: 400px;
    --settings-size: 300px;
    --btn-width: 250px;
    --btn-out-padding: 10px;
    --btn-inner-padding: 10px 30px;
    --icons-size: 30px;
    --font-size-normal: 17px;
    --font-size-header: 35px;
    --columns-numbering-padding: 16px;
    --rows-numbering-padding: 8px;
    --modal-size: 600px;
}

body.light-theme {
    --bg-body-main-color: #fff;
    --bg-main-color: #efefef;
    --btn-main-color: #efefef;
    --btn-active-color: #adadad;
    --btn-inactive-color: #d8d8d8;
    --font-main-color: #000;
    --border-blocks-color: #467fe4;
    --hitted-block-color: #cc0000;
}

body.dark-theme {
    --bg-body-main-color: #1b1b1d;
    --bg-main-color: #1b1b1d;
    --btn-main-color: #3f3f41;
    --btn-active-color: #5a5a5a;
    --btn-inactive-color: #2b2b2d;
    --font-main-color: #f3f3f3;
    --border-blocks-color: #f2d82b;
    --hitted-block-color: #cc0000;

    background-color: var(--bg-body-main-color);
}

@media (width < 1250px) {
    body {
        --board-size: 300px;
        --settings-size: 180px;
        --btn-width: 170px;
        --btn-out-padding: 4px;
        --btn-inner-padding: 8px 24px;
        --icons-size: 25px;
        --font-size-normal: 14px;
        --font-size-header: 30px;
        --columns-numbering-padding: 11px;
        --rows-numbering-padding: 5px;
    }
}

@media (width < 950px) {
    body {
        --board-size: 200px;
        --settings-size: 140px;
        --btn-width: 140px;
        --btn-inner-padding: 5px 18px;
        --icons-size: 20px;
        --font-size-normal: 12px;
        --font-size-header: 23px;
        --columns-numbering-padding: 7px;
        --rows-numbering-padding: 0;
    }
}

@media (width < 700px) {
    body {
        --board-size: 180px;
        --settings-size: 130px;
        --btn-width: 130px;
        --btn-inner-padding: 2px 5px;
        --icons-size: 17px;
        --font-size-header: 20px;
    }
}
