body {
    --board-size: 400px;
    --settings-size: 300px;
    --btn-width: 250px;
    --btn-out-padding: 10px;
    --btn-inner-padding: 10px 30px;
    --icons-size: 30px;
    --font-size-normal: 17px;
    --font-size-header: 35px;
    --columns-numbering-padding: 16px;
    --rows-numbering-padding: 8px;
}

body.light-theme {
    --bg-main-color: #efefef;
    --btn-main-color: #efefef;
    --btn-active-color: #3d3c3c;
    --font-main-color: #000;
    --border-blocks-color: #2b00ff;
}

body.dark-theme {
    background-color: #242424;
    --bg-main-color: #474747;
    --btn-main-color: #474747;
    --btn-active-color: #5e5e5e;
    --font-main-color: #fff;
    --border-blocks-color: #2b00ff;
}

@media (width < 1250px) {
    body {
        --board-size: 300px;
        --settings-size: 180px;
        --btn-width: 170px;
        --btn-out-padding: 4px;
        --btn-inner-padding: 8px 24px;
        --icons-size: 25px;
        --font-size-normal: 14px;
        --font-size-header: 30px;
        --columns-numbering-padding: 11px;
        --rows-numbering-padding: 5px;
    }
}

@media (width < 950px) {
    body {
        --board-size: 200px;
        --settings-size: 140px;
        --btn-width: 140px;
        --btn-inner-padding: 5px 18px;
        --icons-size: 20px;
        --font-size-normal: 12px;
        --font-size-header: 23px;
        --columns-numbering-padding: 7px;
        --rows-numbering-padding: 0;
    }
}

@media (width < 700px) {
    body {
        --board-size: 180px;
        --settings-size: 130px;
        --btn-width: 130px;
        --btn-inner-padding: 2px 5px;
        --icons-size: 17px;
        --font-size-header: 20px;
    }
}
