.select {
    position: relative;
    font-size: 15px;

    width: 150px;
    height: 30px;
    text-align: center;

    .select_title {
        width: 100%;

        background-color: #f3f3f3;
        border: 1px solid gray;
        border-radius: 15px;
        margin-bottom: 5px;

        cursor: pointer;
    }

    .select_content {
        width: 100%;
        position: absolute;

        left: 0;
        bottom: -45px;
        z-index: 10;

        background-color: #f3f3f3;
        border: 1px solid gray;
        border-radius: 15px;

        .option {
            cursor: pointer;

            &:first-child {
                border-top-left-radius: 13px;
                border-top-right-radius: 13px;
            }

            &:last-child {
                border-bottom-left-radius: 13px;
                border-bottom-right-radius: 13px;
            }

            &:hover {
                background-color: #a0a0a0;
            }
        }
    }
}
