.container {
    width: calc(var(--board-size) / 10);
    height: calc(var(--board-size) / 10);

    background-color: var(--bg-main-color);

    border: 1px solid var(--border-blocks-color);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    float: left;
}

.hover {
    &:hover {
        background-color: var(--btn-active-color);
        cursor: pointer;
    }
}

.hitted {
    background-color: var(--hitted-block-color);
}
