.container {
    width: var(--board-size);

    display: flex;
    justify-content: space-between;

    text-align: center;

    background-color: var(--bg-main-color);

    border-radius: 5px;
    border: 1px solid var(--border-blocks-color);

    .item {
        font-size: var(--font-size-normal);
        color: var(--font-main-color);
        user-select: none;
    }

    .item:first-child {
        padding-left: var(--columns-numbering-padding);
    }

    .item:last-child {
        padding-right: var(--columns-numbering-padding);
    }
}
