.container {
    width: calc(var(--board-size-desctop) + 2px);
    height: calc(var(--board-size-desctop) + 2px);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    .board {
        width: var(--board-size-desctop);
        height: var(--board-size-desctop);

        border: 1px solid var(--border-blocks-color);

        background-color: #f3f3f3;
    }

    .left_side_bar {
        position: absolute;
        left: -35px;
        top: 0;
    }

    .right_side_bar {
        position: absolute;
        right: -35px;
        top: 0;
    }

    .bottom_side_bar {
        position: absolute;
        bottom: -35px;
        right: 0;
    }

    .top_side_bar {
        position: absolute;
        top: -35px;
        right: 0;
    }
}
