.container {
    height: var(--board-size-desctop);
    width: 27px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--bg-main-color);

    text-align: center;

    border-radius: 5px;
    border: 1px solid var(--border-blocks-color);

    .item {
        font-size: 17px;
        color: var(--font-main-color);
        user-select: none;
    }

    .item:first-child {
        padding-top: 7px;
    }

    .item:last-child {
        padding-bottom: 9px;
    }
}
