.container {
    height: var(--board-size);
    padding: 0 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--bg-main-color);

    text-align: center;

    border-radius: 5px;
    border: 1px solid var(--border-blocks-color);

    .item {
        font-size: var(--font-size-normal);
        color: var(--font-main-color);
        user-select: none;
    }

    .item:first-child {
        padding-top: var(--rows-numbering-padding);
    }

    .item:last-child {
        padding-bottom: var(--rows-numbering-padding);
    }
}
